<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom Checker</title>
</head>
<body>
    <form action="/" method="POST">
        <h2>Please select the symptoms:</h2>
        {% for symptom in symptoms %}
        <input type="checkbox" id="{{ symptom }}" name="symptom" value="{{ symptom }}">
        <label for="{{ symptom }}">{{ symptom }}</label><br>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
